{% extends "base.html" %}

{% block title %}Hosting{% endblock %}

{% block content %}

<h1>Hosting Servers</h1>
<h3>Using Online-Mode and adding them to the list.</h3>
<p>
    Online-mode for old servers has been abandoned by Mojang, and has been broken until now.
    Online-Mode is a great way to keep your servers secure, the way Mojang used to do it.

    All methods listed below can fix online-mode for any legacy server, and add them to the server list.
    <br/>
    <h4>Server Properties</h4>
    <ul>
        <li><b>server-name</b> Name your server on the list. (59 characters max)</li>
        <li><b>serverlist-motd</b> An MOTD for the server list. (59 characters max)</li>
        <li><b>serverlist-ip</b> Show a custom IP / Host name on the server list.</li>
        <li><b>serverlist-port</b> Show a custom port on the server list.</li>
        <li><b>public</b> Toggle server listing. Set to false to hide a server.</li>
        <li><b>dont-list-players</b> Hide the player list on your server.</li>
        <li><b>online-mode</b> Enable server authentication for Alpha - Release</li>
        <li><b>verify-names</b> Enable server authentication for Classic</li>
        <li><b>discord-token</b> A discord bot token, set to enable the discord chat bridge, a discord-channel is also required.</li>
        <li><b>discord-channel</b> A discord channel ID, set to enable the discord chat bridge, a discord-token is also required.</li>
        <li><b>discord-webhook-url</b> An optional discord webhook URL to send messages through.</li>
        <li><b>version-md5</b> Specify which server version you're hosting.<br>
            In some cases this can be automatically detected, a list of server MD5s can be found <a href="https://github.com/codieradical/MineOnline/tree/master/res/versions/server">here</a>.</li>
    </ul>
    <ol>
        <li><b>Using MineOnline</b></li>
        <p>
            Servers can be launched through MineOnline using this command:
            <code>java -cp MineOnline.jar gg.codie.mineonline.Server (server.jar) [launch arguments]</code>
            <br/>
            If you're hosting a non-vanilla server (like bukkit), you'll tell Mine Online what version you're running by adding "version-md5" inside your server.properties file.
            <br/>
            The MD5s for various servers can be found <a href="https://github.com/codieradical/MineOnline/tree/master/res/versions/server">here</a> . In the case where there are multiple versions, any one will work.
            <br/>
            For example, a beta 1.7.3 server would use "version-md5=40F36C4EB86E8AC71D965EB0677D4A6F".
        </p>
        <li><b>Using the Plugin (hMod or Bukkit)</b></li>
        <p>
            If you'd prefer not to host your server using Mine Online, and are running hMod or Bukkit, a plugin is available to list your server and/or restore online-mode.
            <br/>
            <a href="https://github.com/codieradical/MineOnlineBroadcast/releases/latest/download/MineOnlineBroadcast.jar">Download</a>
            <br/>
            If you're using bukkit, you'll need to specify the "version-md5" inside your server.properties file.
            <br/>
            The MD5s for various servers can be found <a href="https://github.com/codieradical/MineOnline/tree/master/res/versions/server">here</a> . In the case where there are multiple versions, any one will work.
            <br/>
            For example, a beta 1.7.3 server would use "version-md5=40F36C4EB86E8AC71D965EB0677D4A6F".
        </p>
        <li>Manually Listing your Server</li>
        <p>
            If you're comforable with scripting/programming, you can send the list request manually.
            <br/>
            <code>POST https://mineonline.codie.gg/api/servers</code>
            The request takes a JSON content body.
            <code>{
    "name": "Codie's Classic Server",
    "ip": "82.32.534.23",
    "port": "26002",
    "onlinemode": true,
    "md5": "90632803F45C15164587256A08C0ECB4",
    "whitelisted": false,
    "maxUsers": 32,
    "players": [ "codie", "kitsun3" ]
}</code>
            If you're hosting a classic server with verify-names=true, you'll also need to send a <a href="https://wiki.vg/Classic_Protocol#Heartbeats">classic heartbeat request</a>, but send it to mineonline.codie.gg instead of minecraft.net.
        </p>
    </ol>
    <h3>Using the Discord Chat Bridge</h3>
    <p>
        MineOnline servers can now share their chat with a discord channel! This works with the plugins and launching through mineonline, and even works for classic servers!<br>
        To enable the bridge, set the following parameters in your server.properties file:
        <code>
discord-token=[discord bot token]
discord-channel=[discord channel ID]
discord-webhook-url=[webhook url (optional)]
        </code>
    </p>
</p>



{% endblock %}